* {
    margin: 0;
    padding: 0;
    font-size: 1.15em;
}
.mobile.only {
    display: none;
}
#hamburger-menu {
    display: none;
}
img {
    background-size: cover;
}
.full {
    width: 100%;
}
.page {
    margin: 2.5%;
    height: 80vh;
}
.ui.divider {
    margin: 2.5%;
}
.footer a {
    color: black;
}

@media only screen and (max-width: 900px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"]{
        display: none !important;
    }
}
@media only screen and (max-width: 900px) {
    .mobile.only {
        display: block;
    }
}